/*The navigation bar*/
  .navbar {
      padding-bottom: 10px;
      background-color: #333;
      position: absolute; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      padding: 2px;
  }

  .title {
    color: #6610f2;
    padding-left: 15px;
    text-align: center;
  }

  .bgcolour {
    color: #6610f2;
  }

  /* Links inside the navbar */

  .navbar a {
      display: block;
      color: #333;
      text-align: center;
      padding: 10px 10px;
      text-decoration: none;
  }


  /* Change background on mouse-over */
  .navbar a:hover {
      background: #444;
      color: black;
  }


  .aboutTitle {
    color : #8A97A8;

  }

  .horLine{
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 1px;

  }

  .intro{
         	background-color: #666;
         	color: #fff;
         	font-weight: bold;
         	padding: 10px;
         	-moz-border-radius: 5px;
         	-webkit-border-radius: 5px;
            line-height: 20px;
            }

    .names {
             line-height: 40px;
             margin-top: 40px;
    }


    /* Split the screen in half */
    .split {
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }

    /* Control the left side */
    .left {
      left: 0;
      background-color: #A4EDE6;
    }

    /* Control the right side */
    .right {
      right: 0;
      background-color: #E1F9F7;
    }

    /* If you want the content centered horizontally and vertically */
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    /* Style the image inside the centered container, if needed */
    .centered img {
      width: 150px;
      border-radius: 50%;
    }
